.header {
  align-items: center;
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  top: 0; /* Выравниваем по верхней части контейнера */
  left: 0; /* Выравниваем по левой части контейнера */
  width: 100%; /* Занимает всю ширину родительского контейнера */
  display: flex;
  justify-content: center; /* Центрируем содержимое */
  background-color: rgba(152, 186, 205, 0.7); /* Прозрачный цвет фона */
  padding: 20px;
  backdrop-filter: blur(10px); /* Эффект размытия фона */
  z-index: 1; /* Убедитесь, что этот индекс больше, чем у .secImg */
}
.cont {
  display: flex;
  justify-content: space-between; /* Чтобы разделить текст и кнопки */
  align-items: center;
  width: 100%; /* Занять всю ширину контейнера */
}
.head_home {
  display: flex;
  justify-content: center; /* Это разделяет текст и кнопки */
  align-items: center;
  gap: 200px;

  h1 {
    color: rgb(0, 74, 96);
    font-family: Frank Ruhl Libre;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.head {
  text-align: center;
  display: flex;
  gap: 50px;
}
.chevronIcon {
  margin-left: 5px; /* Отступ слева для иконки, чтобы отделить ее от текста */
  width: 16px; /* Задайте нужный размер иконки */
  height: 16px; /* Задайте нужный размер иконки */
}
.btn_home {
  justify-content: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  // padding-left: 80px;
}

.btn_head {
}

.header_btn {
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(0, 74, 96);
  border-radius: 8px;
  // padding: 8px 12px 8px 12px;
  padding: 8px 20px 8px 20px;
  box-sizing: border-box;
  font-size: 17px;
  text-align: center;
  color: rgb(0, 74, 96);
  font-family: Frank Ruhl Libre;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  cursor: pointer;
  text-align: left;
  border: 1px solid rgb(0, 74, 96);
  border-radius: 8px;
  align-items: center;
}

.header_btn_two {
  color: rgb(255, 255, 255);
  font-family: Frank Ruhl Libre;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  border-radius: 8px;
  flex-direction: row;
  padding: 8px 22px 8px 22px;
  background: rgb(0, 74, 96);
}
.secImg {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative; /* Убедитесь, что это значение установлено */
}

.imageText {
  position: absolute;
  display: flex;
  gap: 40px;
  h1 {
    color: rgb(255, 255, 255);
    font-size: 90px;
    align-items: center;
    width: 1190px;
    margin-top: -230px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.icon {
  display: flex;
  flex-direction: column; /* Иконки располагаются в строку */
  gap: 10px; /* Пробел между иконками */
  margin-top: -70px; /* Отступ сверху, если нужно */
}
.searchIcon {
  color: rgb(90, 90, 90);
  position: absolute; /* Позволяет позиционировать иконку внутри input */
  left: 212px; /* Отступ от левого края */
  top: 50%; /* Центрирование по вертикали */
  transform: translateY(-50%); /* Центрируем иконку */
  pointer-events: none;
}

.search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-top: -30px;
  gap: 12px;
  position: relative;
  button {
    border: none;
    width: 55px;
    height: 56px;
    border-radius: 60px;

    background: rgb(0, 74, 96);
  }

  .downo {
    color: white;
    width: 40px;
    height: 40px;
    // font-size: 200px;
    // left: 10px;
    position: absolute;
    left: 950px; /* Отступ от левого края */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Центрируем иконку */
    pointer-events: none;
  }
  input {
    outline: none;
    border: none;
    align-items: center;
    border-radius: 30px;
    font-family: Inter;
    font-size: 24px;
    padding: 14px 10px;
    padding-left: 60px;
    width: 62%;
    // margin-top: -50px;
    background: rgb(229, 228, 233);
  }
}

.secInp {
  p {
    color: rgb(255, 255, 255);
    font-family: Frank Ruhl Libre;
    font-size: 24px;
    font-weight: 500;
    line-height: 190.02%;
    letter-spacing: 5%;
    text-align: center;
  }
}
.contai {
  background-color: rgba(210, 211, 209, 0.8); /* Прозрачный фон */
  position: absolute;
  top: 75%; /* Положение от верхней грани */
  left: 0; /* Растягиваем на всю ширину */
  right: 0; /* Заполняет всю ширину родителя */
  height: 260px; /* Увеличенная высота (можно изменить по необходимости) */
  width: 100%; /* Занимает всю ширину родителя */
  display: flex;
  gap: 300px;
  backdrop-filter: blur(10px); /* Эффект размытия фона */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */

  p {
    color: black;
    font-family: "Frank Ruhl Libre";
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 5%;
    text-align: justify; /* Выравнивание текста по ширине */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 10px 20px; /* Добавляем отступы */
    width: auto; /* Автоматическая ширина для адаптивности */
    max-width: 650px; /* Максимальная ширина */
  }

  h1 {
    color: rgb(255, 255, 255);
    font-family: "Abril Fatface";
    font-size: 73px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0%;
    margin-top: -100px;
    text-align: center;
  }
}
