.block {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.regions {
  padding: 70px;
}
.para {
  h1 {
    color: rgb(0, 74, 96);
    font-family: Abril Fatface;
    font-size: 64px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0%;
  }
  p {
    color: rgb(36, 36, 36);
    font-family: Frank Ruhl Libre;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 5%;
  }
}
