.sign_image {
  background: url("./image/Rectangle\ 13.png") no-repeat center center;
  background-size: cover; /* Изображение занимает весь элемент */
  width: 125%;
  margin-left: -159.6px; /* Установите авто отступы для центрирования */
  margin-right: auto; /* Установите авто отступы для центрирования */
  height: 732px; /* Высота элемента */
  display: flex;

  align-items: center;
}

.box {
  padding-top: 10px;
}
.block_sign {
  width: 636px;
  height: 600px;
  margin-left: 100px;
  border-radius: 8px;
  padding: 10px;
  background: rgb(255, 255, 255);
}

.input_signUp {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  input {
    background-color: #f7f7f7;
    gap: 10px;
    width: 500px;
    outline: none;
    border: 1px solid rgba(39, 49, 56, 0.51);
    border-radius: 10px;

    padding: 13px 20px 13px;
  }
  input::placeholder {
    color: rgba(39, 49, 56, 0.51);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }
}

.welIn {
  gap: 20px;
  display: flex;
}

.welOt {
  display: flex;
  gap: 20px;
}

.wel {
  padding-top: 10px;
  padding-left: 60px;
  p {
    color: rgb(134, 136, 137);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3%;
  }
}

.block_text {
  h1 {
    color: rgb(0, 74, 96);
    font-family: Frank Ruhl Libre;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 3%;
    text-align: center;
  }
}

.welcome {
  padding-left: 60px;
  p {
    color: rgb(36, 36, 36);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3%;
  }
}

.welcome_signUp {
  span {
    color: red;
  }
  p {
    color: rgb(39, 49, 56);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }
  input {
    background-color: #f7f7f7;
    gap: 10px;
    width: 240px;
    border: 1px solid rgba(39, 49, 56, 0.51);
    border-radius: 7px;

    padding: 8px 20px 8px;
    outline: none;
  }
}
.toggleswitch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
  cursor: pointer;
}

.toggleswitch input[type="checkbox"] {
  display: none;
}

.toggleswitchbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;

  transition: background-color 0.3s ease-in-out;
}

.toggleswitchhandle {
  position: absolute;
  top: 1.5px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggleswitch::before {
  content: "";
  // position: absolute;
  // top: -25px;
  // right: 25px;
  // font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggleswitch input[type="checkbox"]:checked + .toggleswitchhandle {
  // transform: translateX(45px);
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggleswitch input[type="checkbox"]:checked + .toggleswitchbackground {
  background-color: #007bff;
  box-shadow: inset 0 0 0 2px#007bff;
}

.toggleswitch input[type="checkbox"]:checked + .toggleswitch:before {
  content: "On";
  color: #05c46b;
  // right: 10px;
}

.toggleswitch
  input[type="checkbox"]:checked
  + .toggleswitchbackground
  .toggleswitchhandle {
  transform: translateX(15px);
}

.reme {
  gap: 190px;
  align-items: center;
  display: flex;
}
.forgot {
  p {
    color: rgb(64, 126, 199);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
  }
}
.rem {
  align-items: center;
  display: flex;
  padding-left: 58px;
  gap: 15px;
  p {
    color: rgb(134, 136, 137);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
  }
}

.btn {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  button {
    border-radius: 8px;

    /* H1 */
    background: rgb(0, 74, 96);
    color: rgb(255, 255, 255);
    font-family: Frank Ruhl Libre;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    padding: 7px 220px 7px;
  }
}

.log {
  align-items: center;
  gap: 10px;
  justify-content: center;
  display: flex;
  h6 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
  }
  p {
    color: blue;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: center;
  }
}

.already {
  h6 {
    color: rgb(134, 136, 137);
    font-family: Montserrat;
    font-size: 20.11px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 3%;
  }
}
