.footer {
  padding-top: 110px;
}
@media (max-width: 1281px) {
  .fotoImg {
    width: 120%;
    height: 10px;
    padding-left: 100%;
  }
}
@media (max-width: 1024px) {
  .fotoImg {
    width: 40px;
    height: 10px;
  }
}

.fotImg {
  background: url("./img/Rectangle\ 18.png") no-repeat center center;
  position: relative;
  background-size: cover;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.overlayContent {
  padding: 20px;
}

.fotLike {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
}

.fot p {
  color: rgb(0, 74, 96);
  font-family: Frank Ruhl Libre;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0%;
  //   text-align: left;
}

.fut {
  h1 {
    color: white;
    font-family: Frank Ruhl Libre;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0%;
    // text-align: left;
  }
  p {
    color: white;
    font-family: Frank Ruhl Libre;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
  }
}
